.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #16161d;
  color: #eee;
  margin: 0px auto;
  /* margin-top: 30px; */
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 130px 30px 70px 30px;
  margin: 0px auto;
  color: #2c003e;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

/* Page-transitions */

.navbar-dark {
  background-color: #363636;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

/* profile component*/

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.profilecard {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 20% 2em;
  box-sizing: border-box;
  color: #010a43;
  background: #ededed;
  background-clip: padding-box;
  /* !importanté */
  border: solid 5px transparent;
  /* !importanté */
  border-radius: 1em;
}
.profilecard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffe20b),
    to(#c0ff02)
  );
  background: linear-gradient(to right, #ffe20b, #c0ff02);
}

.profile-coursecard {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.profile-coursecard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.register-card {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.my-card {
  background: rgb(235, 137, 62);
  background: linear-gradient(
    184deg,
    rgba(235, 137, 62, 1) 0%,
    rgba(241, 92, 33, 1) 53%
  );
  color: #16161d;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.login-card {
  background-color: white;
  color: #16161d;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.login-modal {
  background: #363636;
  color: #eee;
}
